<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a href="index.html" class="navbar-brand">4103 Arrow Wood Road</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="https://www.redfin.com/TX/Cedar-Park/4103-Arrow-Wood-Rd-78613/home/40183529" class="nav-link">RedFin Page</a>
          </li>
          <li class="nav-item">
            <a href="/ContactUs" class="nav-link">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="background-color:darkgray">
  <div class="carousel-inner">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    {{#each images}}
    <div class="carousel-item {{#if @first}}active{{/if}}">
      <img class="d-block w-100" src="{{this.url}}" alt="Slide">
      <div class="carousel-caption">
        <h5>{{this.text}}</h5>
      </div>
    </div>
    {{/each}}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
