body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.carousel-item {
  position: relative;
}
.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
