

a {
  color: #00B7FF;
}

.carousel-caption {
  position:absolute;
  bottom: 20%;
  color:bisque;
  font-size:2rem;
}

.navbar .nav-link {
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: purple 3px solid;
}

.carousel-item {
  height: 1000px;

}

.btn-learn-more {
  margin-bottom: 30px; /* Adjust this value to increase or decrease the space */
}

