
/*Base styles*/
a {
  color: #00B7FF;
}



/* Carousel styles*/
.carousel-caption {
  position: absolute;
  bottom: 5%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  color: bisque;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .carousel-caption {
    bottom: 10%; /* Adjust for smaller screens */
  }
}
.carousel-item {
  height: 100vh; /* Adjust 56px according to your navbar height */
  overflow: hidden; /* Hide any overflow */
}

.btn-learn-more {
  margin-bottom: 30px; /* Adjust this value to increase or decrease the space */
}


/* Navbar styles*/
.navbar .nav-link {
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: purple 3px solid;
}
